#ignora linux pasta
venv/ 
#ignora windows pasta
.venv/

#informações de variáveis de ambiente
.env 

#ignora pasta de arquivos do git
files/

#ignora pasta de logs do programa
logs/

#ignora pasta de cache python
_pycache_/
